{% extends 'front/index.html' %}

{% block head %}

    <script src="../../static/ueditor/ueditor.config.js"></script>
    <script src="../../static/ueditor/ueditor.all.js"></script>
    <link rel="stylesheet" href="../../static/common/sweetalert/sweetalert.css">
    <script src="../../static/common/sweetalert/sweetalert.min.js"></script>
    <script src="../../static/common/sweetalert/xtalert.js"></script>
    <script src="../../static/front/js/common.js"></script>
{% endblock %}

{% block main %}


    <div class="lg-container">
        <div class="post-container">
            <h2>{{ post.title }}</h2>
            <p class="post-info-group">
                <span>发表时间：{{ post.create_time }}</span>
                <span>作者：{{ post.author.name }}</span>
                <span>所属板块：{{post.board.name}}</span>
                <span>阅读数：111</span>
                <span>评论数：{{post.common_totle}}</span>
            </p>
            <article class="post-content" id="post-content" data-id="{{ post.id }}">
                {{ post.content|safe }}
            </article>
        </div>
        <div class="comment-group">
            <h3>评论列表</h3>
            <ul class="comment-list-group">
                {% for common in commons %}
                    <li>
                        <div class="avatar-group">
{#                            <img src="{{ comment.author.avatar or static('common/images/logo.png') }}" alt="">#}
                        </div>
                        <div class="comment-content">
                            <p class="author-info">
                                <span>{{common.author.name}}</span>
                                <span>{{common.create_time}}</span>
                            </p>
                            <p class="comment-txt">
                                {{ common.content|safe }}
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="add-comment-group">
            <h3>发表评论</h3>

{#            编辑器#}
            <script id="editor" type="text/plain" style="height:100px"></script>
            <div class="comment-btn-group">
                <button class="btn btn-primary" id="comment-btn">发表评论</button>
            </div>
        </div>
    </div>
    <div class="sm-container"></div>


{% endblock %}