{% extends 'cms/base.html' %}

{% block title %}
    个人信息
{% endblock %}

{% block main_content %}
    <table class="table table-bordered">
    {% set user = g.cms_user %}
        <tbody>
            <tr>
                <td>用户:</td>
                <td>{{ user.username }}</td>
            </tr>

            <tr>
                <td>邮箱:</td>
                <td>{{ user.e_mail }}</td>
            </tr>

            <tr>
                <td>加入时间:</td>
                <td>{{ user.join_time }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}